<!DOCTYPE html>
  <html>
    <head>
      <title>About Me</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="css/mypage.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Russo, Izzy</h1>
          </div>
          <div class="row">
            <img src="img/Izzy_Profile.jpg" alt="Izzy Profile" height="250">
            <div class="jumbotron col-8" style="background-color: #FFDFD3;">
              <h2 class="display-4">My Professional Profile</h2>
              <p>
                I am one of six kids, meaning I have 5 brothers. I like to write music, mostly on piano, but also on guitar. I enjoy cooking and am a total foodie.
                The reason I am studying Computer Science is because I want to be able to one day help develop nano tech that can help the human body.
              </p>
              <hr class="my-4">
              <a href="https://github.com/izzywithahat/Labs_3308">Izzy's GitHub</a>
            </div>
          </div>
          <h3>My Favorite Projects</h3>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Name of the Project</th>
                <th scope="col">Technologies Used</th>
              </tr>
            </thead>
            <body>
              <tr>
                <td>CSCI2270-Shortest Path</td>
                <td>C++</td>
              </tr>
              <tr>
                <td>iceBreaker</td>
                <td>Kotlin</td>
              </tr>
              <tr>
                <td>EmbeddedMSP</td>
                <td>C</td>
              </tr>
            </body>
          </table>
          <div class="col-12">
            <h3>My Interests<br>
          </div>
            <ul>
              <li>Music</li>
              <li>Electronics/Computers</li>
              <li>Networking</li>
            </ul>
        </div>
      </div>
      </div>
    </body>
  </html>